In [131]:
import numpy as np
import pandas as pd

In [132]:
# read text file into pandas DataFrame
df= pd.read_csv("AvenueDatasetResults.txt", sep=",")

In [133]:
df_testing=df.iloc[:141865,:]
df_training= df.iloc[141866:,:]

In [134]:
import scipy.io as scio
import numpy as np

# get the anormaly labels

In [135]:
df_testing.head(2)

,path,video_no,video_amount,frame_no,frame_amount,node_id,x1,y1,x2,y2,conf,detclass
0,/Users/xiaokeai/Downloads/yolov7-main/datasets...,0,37,1,1439,6,562,115,589,224,0,0
1,/Users/xiaokeai/Downloads/yolov7-main/datasets...,0,37,1,1439,5,0,198,40,338,0,0

In [136]:
video_no=[]
frame_no=[]
sum_pixel_abnormal_value=[]
for i in range(0,21):
    dataFile ="/Users/xiaokeai/Downloads/yolov7-main/datasets/AvenueDataset/evaluation_code/testing_label_mask/" +str(i+1)+ "_label.mat"
    data = scio.loadmat(dataFile)
    for j in range(1,len(data['volLabel'][0])+1):
        video_no.append(i)
        frame_no.append(j)
        sum_pixel_abnormal_value.append(np.sum((data['volLabel'][0][j-1])))

In [137]:
df1=pd.DataFrame(video_no, columns=['video_no'])
df2=pd.DataFrame(frame_no, columns=['frame_no'])
df3=pd.DataFrame(sum_pixel_abnormal_value, columns=['sum_pixel_abnormal_value'])
df_testing_anormaly=pd.concat([df1,df2,df3],axis=1)

In [138]:
df_testing_anormaly

       video_no  frame_no  sum_pixel_abnormal_value
0             0         1                         0
1             0         2                         0
2             0         3                         0
3             0         4                         0
4             0         5                         0
...         ...       ...                       ...
15319        20        72                         0
15320        20        73                         0
15321        20        74                         0
15322        20        75                         0
15323        20        76                         0

[15324 rows x 3 columns]

In [139]:
df_testing_index=pd.concat([df_testing['path'],df_testing['video_no'],df_testing['frame_no']],axis=1)
df_testing_index=df_testing_index.drop_duplicates()
df_testing_index

                                                     path  video_no  frame_no
0       /Users/xiaokeai/Downloads/yolov7-main/datasets...         0         1
6       /Users/xiaokeai/Downloads/yolov7-main/datasets...         0         2
12      /Users/xiaokeai/Downloads/yolov7-main/datasets...         0         3
18      /Users/xiaokeai/Downloads/yolov7-main/datasets...         0         4
24      /Users/xiaokeai/Downloads/yolov7-main/datasets...         0         5
...                                                   ...       ...       ...
141778  /Users/xiaokeai/Downloads/yolov7-main/datasets...        20        72
141795  /Users/xiaokeai/Downloads/yolov7-main/datasets...        20        73
141811  /Users/xiaokeai/Downloads/yolov7-main/datasets...        20        74
141828  /Users/xiaokeai/Downloads/yolov7-main/datasets...        20        75
141847  /Users/xiaokeai/Downloads/yolov7-main/datasets...        20        76

[15324 rows x 3 columns]

In [140]:
df_testing_index['sum_pixel_abnormal_value']=np.array(df_testing_anormaly['sum_pixel_abnormal_value'])

In [145]:
df_testing_index1 = pd.DataFrame(None, index=np.arange(df_testing.shape[0]), columns=df_testing_index.columns)

       path video_no frame_no sum_pixel_abnormal_value
0       NaN      NaN      NaN                      NaN
1       NaN      NaN      NaN                      NaN
2       NaN      NaN      NaN                      NaN
3       NaN      NaN      NaN                      NaN
4       NaN      NaN      NaN                      NaN
...     ...      ...      ...                      ...
141860  NaN      NaN      NaN                      NaN
141861  NaN      NaN      NaN                      NaN
141862  NaN      NaN      NaN                      NaN
141863  NaN      NaN      NaN                      NaN
141864  NaN      NaN      NaN                      NaN

[141865 rows x 4 columns]

In [146]:
resdict={}
list(df_testing_index1.index)
resdict = {list(df_testing_index1.index)[i]: list(range(0, 15324))[i] for i in range(15324)}

{0: 0,
 6: 1,
 12: 2,
 18: 3,
 24: 4,
 32: 5,
 40: 6,
 48: 7,
 56: 8,
 65: 9,
 74: 10,
 82: 11,
 90: 12,
 98: 13,
 106: 14,
 114: 15,
 122: 16,
 130: 17,
 138: 18,
 146: 19,
 154: 20,
 162: 21,
 170: 22,
 178: 23,
 186: 24,
 194: 25,
 202: 26,
 210: 27,
 218: 28,
 226: 29,
 233: 30,
 240: 31,
 247: 32,
 254: 33,
 261: 34,
 268: 35,
 275: 36,
 282: 37,
 289: 38,
 295: 39,
 301: 40,
 308: 41,
 315: 42,
 322: 43,
 328: 44,
 334: 45,
 340: 46,
 346: 47,
 352: 48,
 358: 49,
 365: 50,
 371: 51,
 377: 52,
 383: 53,
 390: 54,
 397: 55,
 404: 56,
 410: 57,
 416: 58,
 422: 59,
 428: 60,
 435: 61,
 441: 62,
 448: 63,
 454: 64,
 460: 65,
 466: 66,
 473: 67,
 481: 68,
 489: 69,
 498: 70,
 507: 71,
 516: 72,
 524: 73,
 532: 74,
 540: 75,
 549: 76,
 558: 77,
 567: 78,
 576: 79,
 585: 80,
 594: 81,
 603: 82,
 612: 83,
 621: 84,
 627: 85,
 633: 86,
 640: 87,
 647: 88,
 654: 89,
 660: 90,
 666: 91,
 672: 92,
 678: 93,
 685: 94,
 692: 95,
 701: 96,
 710: 97,
 719: 98,
 729: 99,
 738: 100,
 747: 101,
 756: 102,
 765: 103,
 774: 104,
 783: 105,
 792: 106,
 801: 107,
 810: 108,
 818: 109,
 826: 110,
 834: 111,
 843: 112,
 851: 113,
 859: 114,
 867: 115,
 875: 116,
 882: 117,
 889: 118,
 896: 119,
 904: 120,
 911: 121,
 919: 122,
 927: 123,
 935: 124,
 943: 125,
 951: 126,
 959: 127,
 967: 128,
 975: 129,
 983: 130,
 991: 131,
 999: 132,
 1006: 133,
 1014: 134,
 1024: 135,
 1034: 136,
 1044: 137,
 1053: 138,
 1062: 139,
 1071: 140,
 1080: 141,
 1089: 142,
 1098: 143,
 1106: 144,
 1114: 145,
 1122: 146,
 1131: 147,
 1140: 148,
 1149: 149,
 1158: 150,
 1167: 151,
 1176: 152,
 1185: 153,
 1194: 154,
 1201: 155,
 1208: 156,
 1215: 157,
 1222: 158,
 1229: 159,
 1236: 160,
 1242: 161,
 1248: 162,
 1254: 163,
 1261: 164,
 1269: 165,
 1277: 166,
 1285: 167,
 1293: 168,
 1301: 169,
 1309: 170,
 1317: 171,
 1325: 172,
 1333: 173,
 1341: 174,
 1350: 175,
 1357: 176,
 1364: 177,
 1371: 178,
 1378: 179,
 1385: 180,
 1392: 181,
 1398: 182,
 1405: 183,
 1412: 184,
 1420: 185,
 1428: 186,
 1435: 187,
 1442: 188,
 1448: 189,
 1454: 190,
 1461: 191,
 1468: 192,
 1474: 193,
 1480: 194,
 1486: 195,
 1492: 196,
 1498: 197,
 1505: 198,
 1513: 199,
 1520: 200,
 1527: 201,
 1535: 202,
 1543: 203,
 1551: 204,
 1560: 205,
 1569: 206,
 1578: 207,
 1587: 208,
 1596: 209,
 1604: 210,
 1612: 211,
 1620: 212,
 1627: 213,
 1634: 214,
 1641: 215,
 1648: 216,
 1656: 217,
 1663: 218,
 1671: 219,
 1679: 220,
 1687: 221,
 1696: 222,
 1705: 223,
 1715: 224,
 1725: 225,
 1734: 226,
 1743: 227,
 1752: 228,
 1760: 229,
 1768: 230,
 1777: 231,
 1786: 232,
 1795: 233,
 1804: 234,
 1813: 235,
 1822: 236,
 1831: 237,
 1841: 238,
 1849: 239,
 1857: 240,
 1865: 241,
 1873: 242,
 1881: 243,
 1889: 244,
 1897: 245,
 1905: 246,
 1913: 247,
 1921: 248,
 1928: 249,
 1935: 250,
 1942: 251,
 1949: 252,
 1955: 253,
 1961: 254,
 1967: 255,
 1973: 256,
 1979: 257,
 1985: 258,
 1991: 259,
 1997: 260,
 2003: 261,
 2010: 262,
 2017: 263,
 2022: 264,
 2027: 265,
 2032: 266,
 2037: 267,
 2042: 268,
 2047: 269,
 2052: 270,
 2057: 271,
 2063: 272,
 2069: 273,
 2075: 274,
 2081: 275,
 2087: 276,
 2093: 277,
 2099: 278,
 2105: 279,
 2111: 280,
 2117: 281,
 2123: 282,
 2129: 283,
 2135: 284,
 2142: 285,
 2150: 286,
 2158: 287,
 2166: 288,
 2174: 289,
 2181: 290,
 2189: 291,
 2197: 292,
 2203: 293,
 2210: 294,
 2218: 295,
 2226: 296,
 2235: 297,
 2243: 298,
 2251: 299,
 2259: 300,
 2267: 301,
 2274: 302,
 2281: 303,
 2288: 304,
 2295: 305,
 2302: 306,
 2309: 307,
 2316: 308,
 2323: 309,
 2330: 310,
 2337: 311,
 2345: 312,
 2353: 313,
 2361: 314,
 2368: 315,
 2376: 316,
 2383: 317,
 2390: 318,
 2397: 319,
 2404: 320,
 2411: 321,
 2417: 322,
 2423: 323,
 2430: 324,
 2438: 325,
 2446: 326,
 2454: 327,
 2462: 328,
 2470: 329,
 2478: 330,
 2486: 331,
 2494: 332,
 2502: 333,
 2510: 334,
 2518: 335,
 2526: 336,
 2534: 337,
 2543: 338,
 2553: 339,
 2562: 340,
 2570: 341,
 2577: 342,
 2584: 343,
 2592: 344,
 2600: 345,
 2608: 346,
 2616: 347,
 2624: 348,
 2632: 349,
 2640: 350,
 2648: 351,
 2657: 352,
 2666: 353,
 2675: 354,
 2684: 355,
 2693: 356,
 2702: 357,
 2712: 358,
 2722: 359,
 2731: 360,
 2739: 361,
 2747: 362,
 2756: 363,
 2765: 364,
 2775: 365,
 2785: 366,
 2795: 367,
 2805: 368,
 2816: 369,
 2828: 370,
 2840: 371,
 2851: 372,
 2861: 373,
 2871: 374,
 2881: 375,
 2891: 376,
 2901: 377,
 2911: 378,
 2921: 379,
 2931: 380,
 2941: 381,
 2951: 382,
 2960: 383,
 2969: 384,
 2978: 385,
 2987: 386,
 2997: 387,
 3007: 388,
 3017: 389,
 3027: 390,
 3036: 391,
 3045: 392,
 3056: 393,
 3067: 394,
 3077: 395,
 3087: 396,
 3097: 397,
 3107: 398,
 3116: 399,
 3125: 400,
 3134: 401,
 3143: 402,
 3152: 403,
 3161: 404,
 3170: 405,
 3179: 406,
 3188: 407,
 3197: 408,
 3206: 409,
 3216: 410,
 3226: 411,
 3235: 412,
 3243: 413,
 3250: 414,
 3257: 415,
 3264: 416,
 3273: 417,
 3282: 418,
 3291: 419,
 3300: 420,
 3309: 421,
 3318: 422,
 3327: 423,
 3336: 424,
 3344: 425,
 3351: 426,
 3358: 427,
 3366: 428,
 3374: 429,
 3382: 430,
 3390: 431,
 3398: 432,
 3406: 433,
 3414: 434,
 3423: 435,
 3432: 436,
 3441: 437,
 3449: 438,
 3457: 439,
 3465: 440,
 3473: 441,
 3481: 442,
 3489: 443,
 3497: 444,
 3505: 445,
 3515: 446,
 3525: 447,
 3535: 448,
 3545: 449,
 3555: 450,
 3565: 451,
 3577: 452,
 3587: 453,
 3596: 454,
 3606: 455,
 3616: 456,
 3627: 457,
 3638: 458,
 3648: 459,
 3658: 460,
 3668: 461,
 3679: 462,
 3690: 463,
 3701: 464,
 3712: 465,
 3723: 466,
 3734: 467,
 3745: 468,
 3756: 469,
 3767: 470,
 3778: 471,
 3789: 472,
 3800: 473,
 3811: 474,
 3822: 475,
 3833: 476,
 3844: 477,
 3855: 478,
 3866: 479,
 3878: 480,
 3890: 481,
 3902: 482,
 3912: 483,
 3922: 484,
 3933: 485,
 3944: 486,
 3954: 487,
 3965: 488,
 3976: 489,
 3987: 490,
 3998: 491,
 4008: 492,
 4019: 493,
 4031: 494,
 4042: 495,
 4054: 496,
 4066: 497,
 4077: 498,
 4087: 499,
 4096: 500,
 4106: 501,
 4116: 502,
 4126: 503,
 4137: 504,
 4148: 505,
 4159: 506,
 4171: 507,
 4183: 508,
 4194: 509,
 4205: 510,
 4216: 511,
 4228: 512,
 4241: 513,
 4255: 514,
 4270: 515,
 4283: 516,
 4295: 517,
 4307: 518,
 4319: 519,
 4334: 520,
 4348: 521,
 4361: 522,
 4373: 523,
 4384: 524,
 4396: 525,
 4409: 526,
 4422: 527,
 4435: 528,
 4449: 529,
 4463: 530,
 4477: 531,
 4492: 532,
 4506: 533,
 4519: 534,
 4533: 535,
 4547: 536,
 4560: 537,
 4571: 538,
 4582: 539,
 4596: 540,
 4609: 541,
 4622: 542,
 4635: 543,
 4649: 544,
 4663: 545,
 4676: 546,
 4689: 547,
 4706: 548,
 4723: 549,
 4738: 550,
 4753: 551,
 4767: 552,
 4779: 553,
 4792: 554,
 4805: 555,
 4819: 556,
 4834: 557,
 4850: 558,
 4862: 559,
 4873: 560,
 4885: 561,
 4896: 562,
 4908: 563,
 4922: 564,
 4934: 565,
 4947: 566,
 4961: 567,
 4974: 568,
 4987: 569,
 5001: 570,
 5015: 571,
 5026: 572,
 5035: 573,
 5044: 574,
 5053: 575,
 5062: 576,
 5071: 577,
 5081: 578,
 5091: 579,
 5103: 580,
 5116: 581,
 5128: 582,
 5139: 583,
 5149: 584,
 5159: 585,
 5170: 586,
 5181: 587,
 5192: 588,
 5203: 589,
 5214: 590,
 5225: 591,
 5234: 592,
 5242: 593,
 5250: 594,
 5260: 595,
 5271: 596,
 5282: 597,
 5293: 598,
 5305: 599,
 5318: 600,
 5330: 601,
 5343: 602,
 5356: 603,
 5369: 604,
 5383: 605,
 5397: 606,
 5412: 607,
 5427: 608,
 5441: 609,
 5455: 610,
 5469: 611,
 5484: 612,
 5500: 613,
 5517: 614,
 5533: 615,
 5548: 616,
 5564: 617,
 5578: 618,
 5592: 619,
 5607: 620,
 5620: 621,
 5633: 622,
 5647: 623,
 5660: 624,
 5672: 625,
 5684: 626,
 5695: 627,
 5706: 628,
 5717: 629,
 5729: 630,
 5742: 631,
 5755: 632,
 5769: 633,
 5783: 634,
 5797: 635,
 5811: 636,
 5825: 637,
 5837: 638,
 5850: 639,
 5863: 640,
 5875: 641,
 5887: 642,
 5898: 643,
 5909: 644,
 5921: 645,
 5933: 646,
 5945: 647,
 5957: 648,
 5970: 649,
 5984: 650,
 5999: 651,
 6011: 652,
 6022: 653,
 6033: 654,
 6044: 655,
 6055: 656,
 6066: 657,
 6078: 658,
 6088: 659,
 6098: 660,
 6109: 661,
 6119: 662,
 6129: 663,
 6139: 664,
 6150: 665,
 6163: 666,
 6176: 667,
 6189: 668,
 6202: 669,
 6216: 670,
 6229: 671,
 6241: 672,
 6253: 673,
 6267: 674,
 6281: 675,
 6295: 676,
 6310: 677,
 6324: 678,
 6338: 679,
 6351: 680,
 6363: 681,
 6375: 682,
 6388: 683,
 6401: 684,
 6414: 685,
 6427: 686,
 6440: 687,
 6453: 688,
 6464: 689,
 6475: 690,
 6485: 691,
 6495: 692,
 6505: 693,
 6515: 694,
 6525: 695,
 6536: 696,
 6546: 697,
 6556: 698,
 6566: 699,
 6576: 700,
 6586: 701,
 6596: 702,
 6605: 703,
 6614: 704,
 6623: 705,
 6632: 706,
 6642: 707,
 6653: 708,
 6664: 709,
 6673: 710,
 6682: 711,
 6691: 712,
 6700: 713,
 6712: 714,
 6723: 715,
 6733: 716,
 6743: 717,
 6753: 718,
 6763: 719,
 6773: 720,
 6783: 721,
 6793: 722,
 6803: 723,
 6814: 724,
 6825: 725,
 6836: 726,
 6846: 727,
 6857: 728,
 6866: 729,
 6874: 730,
 6882: 731,
 6890: 732,
 6898: 733,
 6906: 734,
 6914: 735,
 6922: 736,
 6929: 737,
 6936: 738,
 6945: 739,
 6953: 740,
 6961: 741,
 6969: 742,
 6978: 743,
 6986: 744,
 6993: 745,
 7000: 746,
 7006: 747,
 7014: 748,
 7022: 749,
 7030: 750,
 7038: 751,
 7046: 752,
 7055: 753,
 7064: 754,
 7073: 755,
 7082: 756,
 7091: 757,
 7101: 758,
 7110: 759,
 7118: 760,
 7127: 761,
 7135: 762,
 7143: 763,
 7152: 764,
 7162: 765,
 7172: 766,
 7181: 767,
 7189: 768,
 7198: 769,
 7206: 770,
 7214: 771,
 7222: 772,
 7230: 773,
 7238: 774,
 7246: 775,
 7254: 776,
 7262: 777,
 7271: 778,
 7278: 779,
 7285: 780,
 7292: 781,
 7299: 782,
 7307: 783,
 7314: 784,
 7321: 785,
 7329: 786,
 7337: 787,
 7346: 788,
 7356: 789,
 7367: 790,
 7377: 791,
 7386: 792,
 7395: 793,
 7405: 794,
 7414: 795,
 7423: 796,
 7432: 797,
 7441: 798,
 7449: 799,
 7458: 800,
 7467: 801,
 7476: 802,
 7486: 803,
 7497: 804,
 7507: 805,
 7517: 806,
 7529: 807,
 7542: 808,
 7555: 809,
 7566: 810,
 7576: 811,
 7587: 812,
 7599: 813,
 7609: 814,
 7619: 815,
 7629: 816,
 7639: 817,
 7649: 818,
 7658: 819,
 7667: 820,
 7677: 821,
 7687: 822,
 7697: 823,
 7707: 824,
 7717: 825,
 7728: 826,
 7739: 827,
 7750: 828,
 7760: 829,
 7770: 830,
 7779: 831,
 7788: 832,
 7797: 833,
 7808: 834,
 7818: 835,
 7827: 836,
 7835: 837,
 7843: 838,
 7850: 839,
 7857: 840,
 7864: 841,
 7872: 842,
 7879: 843,
 7888: 844,
 7896: 845,
 7904: 846,
 7911: 847,
 7920: 848,
 7928: 849,
 7936: 850,
 7945: 851,
 7954: 852,
 7962: 853,
 7969: 854,
 7976: 855,
 7983: 856,
 7990: 857,
 7997: 858,
 8005: 859,
 8015: 860,
 8024: 861,
 8032: 862,
 8039: 863,
 8047: 864,
 8055: 865,
 8064: 866,
 8074: 867,
 8083: 868,
 8092: 869,
 8101: 870,
 8110: 871,
 8122: 872,
 8132: 873,
 8143: 874,
 8153: 875,
 8163: 876,
 8172: 877,
 8181: 878,
 8191: 879,
 8201: 880,
 8211: 881,
 8222: 882,
 8233: 883,
 8244: 884,
 8255: 885,
 8267: 886,
 8278: 887,
 8289: 888,
 8299: 889,
 8309: 890,
 8319: 891,
 8329: 892,
 8339: 893,
 8349: 894,
 8359: 895,
 8369: 896,
 8379: 897,
 8389: 898,
 8399: 899,
 8410: 900,
 8420: 901,
 8429: 902,
 8437: 903,
 8445: 904,
 8454: 905,
 8464: 906,
 8475: 907,
 8485: 908,
 8494: 909,
 8503: 910,
 8512: 911,
 8520: 912,
 8527: 913,
 8533: 914,
 8540: 915,
 8547: 916,
 8555: 917,
 8564: 918,
 8573: 919,
 8582: 920,
 8590: 921,
 8598: 922,
 8606: 923,
 8615: 924,
 8624: 925,
 8633: 926,
 8642: 927,
 8652: 928,
 8661: 929,
 8670: 930,
 8679: 931,
 8688: 932,
 8697: 933,
 8707: 934,
 8716: 935,
 8725: 936,
 8733: 937,
 8740: 938,
 8747: 939,
 8754: 940,
 8761: 941,
 8768: 942,
 8776: 943,
 8783: 944,
 8790: 945,
 8798: 946,
 8805: 947,
 8811: 948,
 8816: 949,
 8820: 950,
 8825: 951,
 8832: 952,
 8839: 953,
 8845: 954,
 8851: 955,
 8857: 956,
 8863: 957,
 8869: 958,
 8875: 959,
 8881: 960,
 8888: 961,
 8894: 962,
 8901: 963,
 8909: 964,
 8917: 965,
 8925: 966,
 8933: 967,
 8941: 968,
 8948: 969,
 8955: 970,
 8962: 971,
 8969: 972,
 8976: 973,
 8983: 974,
 8990: 975,
 8997: 976,
 9004: 977,
 9011: 978,
 9019: 979,
 9027: 980,
 9035: 981,
 9044: 982,
 9053: 983,
 9062: 984,
 9071: 985,
 9080: 986,
 9089: 987,
 9097: 988,
 9105: 989,
 9113: 990,
 9121: 991,
 9129: 992,
 9137: 993,
 9145: 994,
 9152: 995,
 9160: 996,
 9168: 997,
 9176: 998,
 9183: 999,
 ...}

In [147]:
for i in list(df_testing_index.index):
    df_testing_index1.iloc[i,:]=df_testing_index.iloc[resdict[i],:]

In [148]:
df_testing_index1

,path,video_no,frame_no,sum_pixel_abnormal_value
0,/Users/xiaokeai/Downloads/yolov7-main/datasets...,0,1,0
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
141860,NaN,NaN,NaN,NaN
141861,NaN,NaN,NaN,NaN
141862,NaN,NaN,NaN,NaN
141863,NaN,NaN,NaN,NaN
141864,NaN,NaN,NaN,NaN

In [154]:
df_testing_index1=df_testing_index1.fillna(method='ffill')
df_testing_index1['abnormal']=np.where(df_testing_index1['sum_pixel_abnormal_value'] > 0, 1,0)

In [158]:
df_testing_index1.to_csv(r'AvenueDatasetResultsTesting_Label.txt', header=True, index=False, sep=',', mode='a')

In [160]:
df_training.to_csv(r'AvenueDatasetResultsTraining.txt', header=True, index=False, sep=',', mode='a')
df_testing.to_csv(r'AvenueDatasetResultsTesting.txt', header=True, index=False, sep=',', mode='a')